.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


body {
  font-family: 'Arial', sans-serif;
  background: url(https://media.istockphoto.com/id/1394452639/vector/coputer-internet-cyber-security-background-cyber-crime-vector-illustration-digital-lock.jpg?s=612x612&w=0&k=20&c=KD48hTGER5qp-nYJ95R1-XkJM67bLtxFgNSfzdzs9iA=);
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: #3498db; 
  border: 5px solid #2980b9; 
  border-radius: 50px;
}

label {
  margin-bottom: 10px;
  color: #ecf0f1;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #bdc3c7;
  border-radius: 5px;
}

button {
  background-color: #2ecc71; 
  color: #ecf0f1;
  padding: 10px;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
}

button:hover {
  background-color: #27ae60; 
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  background-color: #3498db;
  padding: 10px;
  border-bottom: 5px solid #2980b9; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #ecf0f1; 
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #2980b9; 
}

a:hover {
  background-color: #2980b9; 
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
